@media screen and (max-width:880px){
    .wrap {
        width: 100%;
        overflow: hidden;
    }
    .section1 {
        display: none;
    }
    .mobile{
        display: inline-block;
        background: #000a12;
        width: 100%;
    }
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        color: white;    
    }
    nav ul {
       padding: 20px 10px;
       grid-column: span 3;
       justify-content: space-around;
    }
    nav ul li {
        text-decoration: none;
        margin: 0 20px;
    }
    .logo {
        font-size: 48px;
        font-weight: 900;
        justify-content: center;
        text-align: center;
        grid-column: 1/span 3;
        padding: 10px 0;
    }
    .features {
        font-weight: 400;
    }
    .image-div {
        width: 100%;
        height: 670px;
        background: url(img/meeting.jpg);
        background-position: center;
        background-size: cover;
        filter: grayscale(100%);
        text-align: center;
        padding: 20px 10px;
    }
    .mobile h1 {
        font-weight: 800;
        font-size: 4rem;
        text-shadow: 2px 2px 10px rgb(0, 0, 0);
        margin-top: 180px;
        color: white;
        margin-bottom: 20px;
    }
    .mobile .p {
        color: wheat;
        text-shadow: 2px 2px 10px rgb(0, 0, 0);
        font-weight: 600;
    }
    .mobile h3 {
        font-weight: 400;
        font-size: 24px;
        margin-top: 60px;
    }
    .mobile h3:hover{
        text-decoration: underline;
        color: blue;
    }
    /* section 2 */
    .section2 {
        width: 100%;
        height: fit-content;
        display: block;
        align-items: center;
        text-align: center;
        color: white;
        padding: 30px 0px;
    }
    .section2 div {
        margin-bottom: 30px;
    }
    .section2 div:last-child{
        margin-bottom:0 ;
    }
    
    .section2 h1 {
        font-size: 32px;
        font-weight: 900;
       
    }
    .section2 p {
        color: #d1d1d1;
        font-size: 14px;
    }
    
/*  */
.section3 {
    padding: 60px 0px;
    text-align: center;
    display: grid;

    justify-content: center;
}
.ra{
    font-size: 38px;
    margin-bottom: 20px;
}
.ra-p{
    font-weight: 200;
    font-size: 13px;
    margin-bottom: 45px;
    color: #d1d1d1;
}
.items-div {
    display: block;
}
.items {
    padding: 25px;
    
    margin-bottom: 20px;
    background: #01111f;
    width: 350px;
    height: 250px;
}
.items:first-child {
    border-bottom:15px solid #011b31;
}
.items h1 {
    font-size: 24px;
}
.items .icons {
    font-size: 50px;
    margin-bottom: 20px;
}
.items .texts {
    padding-top: 30px;
    color:#d1d1d1;
}
/*  */
.section4 h1{
    font-size: 2rem;
}


/*  */
.section5 {
   display: grid;
   grid-template-columns: 1fr;
    padding: 60px 0px;
    text-align: center;
    
}
.pc{
   font-size: 38px;
    margin-bottom: 20px;
}
.pc-p{
    margin: 0 auto; 
    font-weight: 200;
    width: 350px;
    line-height: 30px;
    font-size: 13px;
    margin-bottom: 90px;   
}
.images {
    font-size: 5px;
    display: block;
    margin-bottom: 70px;
    width: 80%;
}
.img1 {
    margin-bottom: 30px;
}
.clm {
    width: 80%;
    margin-bottom: 80px;
    display: block;
}
.clm h1{
    margin-bottom: 20px;
}

.clm p {
    text-align: center;
    font-size: 13px;
    line-height: 30px;
}
/* .clm p i{
    font-size: 35px;
    position: absolute;
   top: 8px;
    right: 60px;
} */

/*  */
.section6 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.section6 h1{
    font-size: 2rem;
    font-weight: 900;
    color: white;
    width: 350px; 
}
/*  */
footer {
    
    width: 100%;
    height: fit-content;
    padding: 20px 0;
    display: block;
    text-align: center;
}
footer h3 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
}
footer ul {
    list-style: none;
    display: inline-flex;
    margin-bottom: 20px;
}
footer ul li {
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
    font-size: 14px;
    
}
.icons{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.icons p {
    margin: 0 8px;
}

}